<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.af.euroblight"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.af.euroblight.AppDelegate"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.af.euroblight.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.af.euroblight.UserCredentialsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_user_credentials" >
        </activity>
        <activity
            android:name="com.af.euroblight.ReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_report"
            android:parentActivityName="com.af.euroblight.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.af.euroblight.MainActivity" />
        </activity>
        <activity
            android:name="com.af.euroblight.MapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_map"
            android:parentActivityName="com.af.euroblight.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.af.euroblight.MainActivity" />
        </activity>
        <activity
            android:name="com.af.euroblight.PressureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pressure"
            android:parentActivityName="com.af.euroblight.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.af.euroblight.MainActivity" />
        </activity>
        <activity
            android:name="com.af.euroblight.UnsentReportsActivity"
            android:label="@string/title_activity_unsent_reports"
            android:parentActivityName="com.af.euroblight.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.af.euroblight.MainActivity" />
        </activity>
    </application>

</manifest>
