/*General body*/
body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white;
}
/*General table*/
table{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: green;
   vertical-align : top;
}
th{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   vertical-align : top;
}
td{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   vertical-align : top;
}
a:link{
	color: green;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a:visited{
	color: green;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a:hover{
   color: green;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
 /*  background : Red;*/
}
a:active{
	color: green;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
h1{
	color : green;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 20px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 0px;
}
h2{
	color : green;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 18px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 0px;
}
h3{
   color : green;
   font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size : 16px;
   font-weight : bold;
   margin-top : 0px;
   margin-bottom : 0px;
}
h4{
	color : green;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 0px;
}
h5{
	color : green;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 0px;
}
h6{
	color : green;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 0px;
}
hr{
	color : white;
}
body.data{
	background-color : #C8E1F3;
	color : green;
}
table.data{
	background-color : #C8E1F3;
}
td.data{
	background-color : #C8E1F3;
	padding-right: 10px;
	vertical-align: middle;
}
button{
	background-color: #EEF5FA;
	color : green;
	font-weight: bold;
}
.border{
	border : groove 1px;
} 
.hide{
   color : #C8E1F3;
	background-color: #C8E1F3;
	border : #C8E1F3 solid 2px;
} 
.show{
   color : green;
	background-color: #C8E1F3;
	border : #C8E1F3 solid 2px;
} 
input.noborder{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color : green;
	background-color: #C8E1F3;
	border : 0px;
	text-align: right;
	height: 14px;
	padding: 0px;
} 
.TabView{
   color: green;
   font-size:10pt;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
} 
A.TabView:link{
   Text-Decoration: none;
   color: green;
   font-size:10pt;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
} 
A.TabView:visited{
   Text-Decoration: none;
   color: green;
   font-size:10pt;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A.TabView:hover{
   Text-Decoration: none;
   color: #6495ED;
   font-size:10pt;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
option.back{
color: white;
background-color: green;
}
