<?xml version="1.0" encoding="utf-8"?>
<xml>
  <settings>
    <Identity>0</Identity>
    <inputData>D:\main\tools\cloverModel\input1.xml </inputData>
	<outputDir>D:\main\tools\cloverModel\ </outputDir>
	</settings>
	  <settings>
    <Identity>3</Identity>
    <inputData>D:\main\tools\cloverModel\input2.xml </inputData>
	<outputDir>D:\main\tools\cloverModel\ </outputDir>
	</settings>
</xml>